$color-primary: #2563eb;
$color-secondary: #9333ea;
$color-accent: #06b6d4;
$color-purple: #7c3aed;
$color-blue: #0ea5e9;
$color-dark: #0f172a;
$color-light: #f8fafc;
$bg-gradient-blue-purple: linear-gradient(135deg, $color-secondary, $color-blue);

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-accent: #{$color-accent};
}

