<footer class="footer">
  <div class="footer__inner">
    <div>
      <p class="footer__title">GYM</p>
      <ul>
        <li><a routerLink="/home">Why Join Us</a></li>
        <li><a routerLink="/home#services">About</a></li>
        <li><a routerLink="/dashboard">Plan</a></li>
        <li><a routerLink="/users">Coaches</a></li>
        <li><a routerLink="/register">Inquiry</a></li>
      </ul>
    </div>

    <div>
      <p class="footer__title">MEMBERS</p>
      <ul>
        <li><a routerLink="/register">FAQs</a></li>
        <li><a routerLink="/home#contact">Contact Us</a></li>
      </ul>
    </div>

    <div>
      <p class="footer__title">CONTACTO</p>
      <p>EMAIL: metaforce&#64;fit.com</p>
      <p>TELF: 09826047580</p>
    </div>

    <div id="contact">
      <p class="footer__title">LOCALIZACIÓN</p>
      <p>12TH ST. GENERAL MATHA</p>
      <p>VILLAMOR AIR BASE PASAY CITY</p>
    </div>
  </div>
</footer>

